* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
}

.section-1 {
  padding: 40px 300px 0 300px;
}

@media (max-width: 1440px) {
  .section-1 {
    padding: 40px 200px 0 200px;
  }
}

.section-1 header {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.section-1 header nav a {
  text-decoration: none;
  font-family: "Poppins Medium";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.500211px;
  color: #444444;
}

.section-1 header nav .active {
  color: #FF7132;
}

.section-1 header nav .btn {
  font-family: "Poppins Regular";
  padding: 15px 32px;
  border: 1px solid #FF7132;
  color: #FF7132;
  border-radius: 30px;
}

.section-1 header nav .btn:hover {
  background-color: #FF7132;
  color: #ffffff;
}

.section-1 main {
  height: calc(100vh - 62px - 40px);
}

.section-1 main .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 main .main-grid .grid-flex {
  margin-top: 50px;
  position: relative;
}

.section-1 main .main-grid .grid-flex h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 134%;
  letter-spacing: -2.50105px;
  color: #444444;
}

.section-1 main .main-grid .grid-flex .line {
  width: 54px;
  height: 6px;
  background: #ff7132;
}

.section-1 main .main-grid .grid-flex p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  color: #666666;
  margin-top: 32px;
}

.section-1 main .main-grid .grid-flex .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin-top: 35px;
}

.section-1 main .main-grid .grid-flex .btn .btn1:nth-child(1) {
  width: 197px;
  height: 67.01px;
  background: #ff7132;
  border-radius: 40px;
  border: none;
  font-style: normal;
  font-weight: "Poppins SemiBold";
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.section-1 main .main-grid .grid-flex .btn .btn2:nth-child(2) {
  width: 243px;
  height: 67.01px;
  border: 1px solid #ff7132;
  border-radius: 40px;
  background-color: transparent;
  font-weight: "Poppins SemiBold";
  font-size: 18px;
  line-height: 27px;
  color: #444444;
}

.section-1 main .main-grid .grid-flex img {
  width: 500px;
}

.section-1 main .main-grid .grid-flex .line1 {
  width: 16px;
  height: 16px;
  background: #fad36c;
  border-radius: 50%;
  position: absolute;
  top: 30%;
}

.section-1 main .main-grid .grid-flex .line2 {
  width: 22px;
  height: 22px;
  background: #8b6fff;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  right: 0;
}

.section-1 main .main-grid .grid-flex .line3 {
  width: 24px;
  height: 24px;
  background: #13cb73;
  border-radius: 50%;
  bottom: 0;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.section-1 main .main-grid .grid-flex .batary {
  position: absolute;
  bottom: 80px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 100px 21px 16px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
          box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
  gap: 22px;
}

.section-1 main .main-grid .grid-flex .batary .chaqmoq {
  width: 76px;
  height: 76px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
          box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 main .main-grid .grid-flex .batary img {
  width: 28px;
}

.section-2 {
  padding: 0 300px 160px 300px;
  margin-top: 160px;
}

.section-2 .title {
  text-align: center;
  font-style: normal;
  font-weight: "Poppins SemiBold";
  font-size: 54px;
  line-height: 140%;
  color: #444444;
}

.section-2 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-2 .grid .grid-flex {
  padding: 40px 58px 41px 37px;
  background: #ffffff;
  -webkit-box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
          box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  margin-top: 100px;
}

.section-2 .grid .grid-flex .belgi {
  width: 68px;
  height: 68px;
  background: #76de8479;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2 .grid .grid-flex h3 {
  font-style: normal;
  font-weight: "Poppins Medium";
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.656526px;
  color: #666666;
  margin-top: 40px;
}

.section-2 .grid .grid-flex p {
  font-weight: normal;
  font-size: 17px;
  line-height: 200%;
  color: #666666;
}

.section-2 .grid .grid-flex a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: "Poppins SemiBold";
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  margin-top: 40px;
  text-decoration: none;
}

.section-2 .grid .grid-flex a:hover {
  text-decoration: underline;
}

.section-3 {
  padding: 0 300px 0 173px;
}

.section-3 .key-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .key-grid .key-flex {
  position: relative;
}

.section-3 .key-grid .key-flex .megical-photo {
  width: 500px;
  height: 500px;
  background-color: #fad36b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.section-3 .key-grid .key-flex .linee1 {
  width: 16px;
  height: 16px;
  background: #fad36c;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

.section-3 .key-grid .key-flex .linee2 {
  width: 24px;
  height: 24px;
  background: #13cb73;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.section-3 .key-grid .key-flex .linee3 {
  width: 24px;
  height: 24px;
  background: #8b6fff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 0;
}

.section-3 .key-grid .key-flex h2 {
  font-style: normal;
  font-weight: "Poppins SemiBold";
  font-size: 48px;
  line-height: 134%;
  color: #444444;
  margin-top: 24px;
}

.section-3 .key-grid .key-flex p {
  font-weight: normal;
  font-size: 20px;
  line-height: 200%;
  color: #666666;
}

.section-3 .key-grid .key-flex .table .table-whone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  gap: 25px;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
          box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
  border-radius: 15px;
  padding: 30px 47px 30px 20px;
  gap: 19px;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(1) .table-icon {
  width: 56px;
  height: 56.01px;
  background: #ff6f327b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eae9f2;
  border-radius: 15px;
  padding: 30px 47px 30px 20px;
  gap: 19px;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(2) .table-icon {
  width: 56px;
  height: 56.01px;
  background: #ff6f327b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eae9f2;
  border-radius: 15px;
  padding: 30px 47px 30px 20px;
  gap: 19px;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(3) .table-icon {
  width: 56px;
  height: 56.01px;
  background: #ff6f327b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eae9f2;
  border-radius: 15px;
  padding: 30px 47px 30px 20px;
  gap: 19px;
}

.section-3 .key-grid .key-flex .table .table-whone .table-flex:nth-child(4) .table-icon {
  width: 56px;
  height: 56.01px;
  background: #ff6f327b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Poppins Regular";
  font-style: normal;
}
/*# sourceMappingURL=main.css.map */